<!-- <h1 (dblclick)="incr()">Increment - {{counter}}</h1> -->
<!-- <h1 (mouseover)="incr()">Increment - {{counter}}</h1> -->
<!-- <h1 (mousedown)="incr()">Increment - {{counter}}</h1> -->
<!-- <h1 (drag)="incr()">Increment - {{counter}}</h1> -->
<!-- <h1 (dragover)="incr()">Increment - {{counter}}</h1> -->

<!-- <input type="text" (keypress)="onKeyPress()"> -->
<!-- <input type="text" (keydown)="onKeyPress()"> -->
<!-- <input type="text" (keydown.enter)="onKeyPress()"> -->
<!-- <input type="text" (keyup)="onKeyPress()"> -->
<!-- <input type="text" (focus)="onKeyPress()"> -->
<!-- <input type="text" (select)="onKeyPress()"> -->
<!-- <input type="text" (keypress)="onKeyPress($event)"> -->
<input type="text" (keydown)="isShift($event)" />
<router-outlet />
